{% extends 'admin_base.html' %}
{% block main %}

<script type="text/javascript">
    function checkpassword()
    {
    if (document.changepassword.newpassword.value != document.changepassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }

    return true;


    }


</script>

<style>
    body {
        background-color: #ffffff; /* Set the background color to white */
        color: #000000; /* Set the text color to black or another color that contrasts with white */
    }
</style>


    <h1 class="text-center m-2">Change Password </h1>


    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card bg-grey text-black font-weight : bold">
              <div class="card-body">
                <form method="post" name="changepassword" onsubmit="return checkpassword()">

                  {% csrf_token %}
                  <div class="mb-3 ">
                    <label>Current Password</label>
                     <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current Password">
                  </div>

                    <div class="mb-3 ">
                    <label>New Password</label>
                     <input type="password" name="newpassword" class="form-control" placeholder="Enter New Password">
                  </div>

                    <div class="mb-3 ">
                    <label>Confirm Password</label>
                     <input type="password" name="confirmpassword" class="form-control" placeholder="Enter New Password Again">
                  </div>

                     <div class="container text-center">
                      <button class="btn" style="background-color: #00ABB3;">
                          Submit
                      </button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>



{% if error == "no" %}
<script>
    alert('Password updated Successfully');
    window.location = '{% url 'logout' %}';
</script>
{% endif %}

{% if error == 'yes' %}
<script>
    alert('Something went wrong, try again...');
</script>
{% endif %}

{% if error == 'not' %}
<script>
    alert('Your current password is wrong...');
</script>
{% endif %}

{% endblock %}